<div
  class="bg-white-100 shadow pt-[16px] pb-[16px] md:gap-[48px] sm:gap-4 pl-[24px] pr-[24px] rounded-[14px] md:flex sm:grid items-center md:justify-between">
  <app-check-content [title]="task().title" [completed]="task().completed"></app-check-content>
    <div class="flex items-center sm:justify-between md:justify-start gap-8">
      <div class="flex sm:flex-row-reverse md:flex-row gap-2 items-center">
        <p [ngStyle]="{'color': currentUser().color}" class="text-user-salmon text-xs">{{currentUser().displayName}}</p>
        <img
          class="w-8 h-8"
          [ngSrc]="currentUser().profileUrl"
          alt="avatar" width="24" height="24"/>
      </div>
      <button (click)="toggleOpen($event)" class="p-4 group">
        <app-dot-ico [isOpen]="isOpen()"></app-dot-ico>
      </button>
    </div>
</div>

@if (isOpen()){
  <div class="w-[170px] p-[10px] bg-white-100 shadow-2xl z-50 rounded-[20px] absolute right-0">
    <button (click)="openEditModal($event)" class="flex hover:bg-gray-5 w-full gap-2 pt-[12.5px] pb-[12.5px] pl-[15px] pr-[15px] rounded-[10px] items-center">
      <span>✏️</span>
      <span class="text-black-100 font-medium text-[14px]">Edit</span>
    </button>
    <button (click)="deleteTask()" class="flex hover:bg-gray-5 w-full gap-2 pt-[12.5px] pb-[12.5px] pl-[15px] pr-[15px] rounded-[10px] items-center">
      <span>🗑️</span>
      <span class="text-system-delete font-medium text-[14px]">Delete</span>
    </button>
  </div>

}
